@import './styles/variables.scss';

.board-tile-group {
  .tile-area {
    background-color: transparent !important;
  }

  &.red-500 {
    .board-tile-block {
      background-color: transparentize($red-500, 0.8);
    }
  }
  &.green-500 {
    .board-tile-block {
      background-color: transparentize($green-500, 0.8);
    }
  }
  &.blue-500 {
    .board-tile-block {
      background-color: transparentize($blue-500, 0.8);
    }
  }
  &.yellow-500 {
    .board-tile-block {
      background-color: transparentize($yellow-500, 0.8);
    }
  }
}
