@import './styles/variables.scss';

.game {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .main-scene {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-bottom: spacing(12);
    box-sizing: border-box;

    .scene {
      height: 100%;
    }
  }

  .main-status {
    position: absolute;
    left: 0;
    bottom: 0;
    height: spacing(12);
    background-color: $gray-300;
    width: 100vw;
  }
}
