@import '../styles/variables.scss';

.status-explainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: spacing(3);
  background: $green-100;

  h4 {
    margin: 0 0 spacing(2) 0;
  }

  .slots {
    display: flex;

    .in-slots {
      flex-grow: 1;
    }
  }
}

.status-tools {
  display: flex;
  padding: 0 spacing(2);
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  .button {
    background-color: $white;
    color: $blue-700;
    padding: spacing(1) spacing(2);
    border: 1px solid $blue-500;
    border-radius: spacing(1);
    margin-right: spacing(2);

    &:hover {
      cursor: pointer;
      background-color: $blue-100;
    }

    &.pause,
    &.cancel {
      border-color: $red-500;
      color: $red-500;

      &:hover {
        background-color: $red-100;
      }
    }
  }
}
