@import '../styles/variables.scss';

.tile-group {
  position: absolute;
  top: 0;
  left: 0;

  &.dragging {
    opacity: 0.5;
  }

  .tile-areas {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .tile-area {
    background-color: $gray-300;
  }
  .children {
    position: relative;
  }

  &.red-500 {
    .tile-area {
      background-color: $red-500;
    }
  }
  &.blue-500 {
    .tile-area {
      background-color: $blue-500;
    }
  }
  &.green-500 {
    .tile-area {
      background-color: $green-500;
    }
  }
}
